@charset "UTF-8";
.article:hover, .gallery-container [data-bs-target] img:hover, .card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
}

header,
main,
footer {
  padding: 0 10px;
}

h1 {
  clip: rect(0 0 0 0);
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: block;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: -1;
}

ol,
ul {
  list-style-type: none;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
}

.form-control {
  height: 1.6em;
  border-radius: 3px;
  padding: 0 0.4rem;
}

.form-control:focus {
  box-shadow: 0 0 0 3px hsla(102deg, 66%, 23%, 0.288);
  border: #2B6114;
}

.btn {
  padding: 0 3px;
  height: 1.6em;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  background-color: white;
  color: black;
  position: relative;
  z-index: 0;
  transition: 300ms ease-in-out;
}

.btn:before {
  content: "";
  background-color: #2B6114;
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #2B6114, #00ffd5, hsl(209deg, 19%, 42%), #7a00ff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(2px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 3px;
}

.btn:active {
  color: white;
}

.btn:active:after {
  background-color: #2B6114;
  color: white;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 3px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.logo-link {
  transition: 10ms ease-in-out;
}

.logo-link:hover {
  width: 110px;
}

.header {
  background-color: #577f57;
  position: sticky;
  top: 0px;
  z-index: 3;
}
.header__main-page, .header__logo-img {
  max-width: 150px;
}
.header__logo-img {
  width: 100%;
}
.header__search-input {
  padding: 0 3px;
  width: 100%;
  max-width: 210px;
  border-radius: 3px 0 0 3px;
}
.header__search-btn {
  padding: 0 7px;
  min-width: 26px;
  border-left: 1px solid lightgray;
  border-radius: 0 3px 3px 0;
}
.header__search-btn:hover {
  color: black;
}
.header__sub-container {
  text-align: start;
}
.header__sub-container {
  min-width: 70px;
}
.header__sub-btn {
  width: 100%;
  min-width: 70px;
  max-width: 240px;
}

.nav-link {
  padding: 0 7px;
  font-size: 1.2em;
  color: black;
  transition: 170ms ease-in-out;
}
.nav-link:hover {
  background-color: #2B6114;
  color: white;
  border-radius: 2px;
}

.main {
  background-color: #A3B18A;
  min-height: 750px;
}
.main__description {
  font-size: 1.2em;
  text-align: justify;
}

.carousel-container {
  max-width: 887px;
}

.carousel-indicators [data-bs-target] {
  margin: 0 5px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.carousel-control-prev-icon i,
.carousel-control-next-icon i {
  padding: 5px 10px;
  font-size: 1.3rem;
  color: black;
  background-color: white;
  border-radius: 50%;
}

/* 
  Se mostrarán el nombre y redes sociales de miembros de la ONG.
  Los datos se mantienen ocultos hasta que se haga hover sobre la card.
*/
.member-info {
  display: none;
}

.article:hover .member-info {
  display: block;
}

.cards {
  background-color: transparent;
  border: none;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  background-position: center;
  margin: 10px;
  transition: 0.3s ease;
}

.card {
  position: relative;
  z-index: 1;
}
.card:hover .card__rect-1 {
  left: 10%;
}
.card:hover .card__rect-1 .shadow-1 {
  left: -20%;
}
.card:hover .card__circle {
  transform: scale(1);
}
.card:hover .card__circle:before {
  transform: scale(0.9);
}
.card:hover .card__list {
  padding: 14px 0;
}
.card:hover .card__list li {
  transform: translateX(0);
}
.card__rect-1 {
  background: hsl(179deg, 19%, 42%);
  width: 200px;
  height: 80px;
  transform: skewX(-20deg);
  display: block;
  position: absolute;
  top: 78%;
  opacity: 0.9;
  left: -100%;
  z-index: 1;
  transition: all 0.5s ease-in;
}
.card__rect-1 p {
  margin: 0;
  font-size: 20px;
  color: #fff;
  transform: skewX(20deg);
}
.card__rect-1 .shadow-1 {
  background: #2B6114;
  width: 230px;
  height: 70px;
  display: block;
  position: absolute;
  left: -200%;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.card__circle {
  width: 70px;
  height: 170px;
  border-radius: 3px;
  background: hsl(179deg, 19%, 42%);
  position: absolute;
  top: -15%;
  left: 85%;
  opacity: 0.9;
  transform: scale(0);
  transition: all 0.3s ease;
}
.card__circle:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #2B6114;
  border-radius: 3px;
  transform: scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}
.card__list {
  list-style: none;
  position: absolute;
  top: -12px;
  right: 1px;
  padding-top: 14px;
  transition: all 0.4s ease;
}
.card__list li {
  display: inline-block;
  cursor: pointer;
  margin: 4px;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: hsl(179deg, 19%, 42%);
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  transition: all 0.3s ease;
  transform: translateX(500%);
}
.card__list li:nth-child(1) {
  transition-delay: 0.2s;
}
.card__list li:nth-child(2) {
  transition-delay: 0.3s;
}
.card__list li:nth-child(3) {
  transition-delay: 0.4s;
}

/* Galería podcast */
.gallery-container {
  position: inherit;
}

.gallery-container [data-bs-target] {
  width: 90px;
  height: auto;
  border-radius: 0;
}
.gallery-container [data-bs-target]:hover {
  opacity: 1;
}
.main__map {
  width: 100%;
  max-width: 400px;
  height: 250px;
}

.form__data-container {
  border-bottom: 2px solid hsl(149deg, 19%, 42%);
}
.form__title-donation, .form__span-amount {
  padding: 14px 0;
}
.form__span-amount {
  font-size: 1em;
}
.form__amount-btn {
  width: 6rem;
  height: 2em;
  font-size: 1.4em;
  line-height: 2em;
}
.form__label-radio {
  padding: 0 30px 0 0;
}
.form__input {
  max-width: 14em;
  border-width: 0 0 2px 0;
  border-color: #2B6114;
  background-color: transparent;
  border-radius: 0;
}
.form__input:focus {
  border: 2px solid;
  border-width: 0 0 2px 0;
  border-color: #2B6114;
  background-color: transparent;
  box-shadow: none;
}
.form__input-medium {
  width: 10em;
}
.form__input-small {
  width: em;
}
.form__input-tiny {
  width: 3em;
}
.form__donate-btn-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.form__donate-btn {
  padding: 0 10px;
  font-size: 1.8em;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.talleres-cursos {
  position: relative;
  min-height: 235px;
}

.data-section__ver-mas {
  margin: 0 1.5em;
  align-self: center;
}

.article {
  padding: 7px;
  background-color: antiquewhite;
  border-radius: 4px;
  height: 100%;
  transition: 300ms ease-in-out;
}
.article:hover {
  background-color: #2B6114;
  background-color: rgba(43, 97, 20, 0.7803921569);
  cursor: pointer;
  color: white;
}
.article__img {
  width: 100%;
  height: auto;
}
.article__post-media {
  text-align: center;
}
.article__post-title, .article__p-description {
  padding: 7px;
  text-align: justify;
}
.article__p-type {
  margin: 0;
  padding: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.article__social-media {
  padding: 0 4px;
  font-size: 1.2rem;
}
.article__social-media:hover {
  color: rgb(243, 153, 18);
}
.article__team-person-title {
  text-align: start;
  padding: 7px 0;
}

.footer {
  background-color: hsl(179deg, 19%, 42%);
}
.footer__item {
  padding: 2px;
}
.footer__h4 {
  margin: 0 2px;
}
.footer__link h4, .footer__link i {
  display: inline-block;
  font-size: 1.14rem;
}
.footer__link {
  transition: 150ms ease-in-out;
}
.footer__link:hover {
  color: white;
}
.footer__music {
  display: flex;
  justify-content: space-between;
}
.footer__input, .footer__btn {
  padding: 0 2px;
  width: 100%;
  min-width: 120px;
  border-radius: 0;
  outline: none;
  border: 1px solid lightgray;
}
.footer__logo-img {
  width: 100px;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
