// Colores
$color-principal: #2B6114;
$verde-header: #577f57;
$verde-fondo: #A3B18A;
$verde-musgo: hsl(149, 19%, 42%);
$verde-pantano: hsl(179, 19%, 42%);
$azul-musgo: hsl(209, 19%, 42%);
$lila: hsl(239, 19%, 42%);
$purpura: hsl(269, 19%, 42%);

