/* Variables */
/* Paleta de colores */
:root {
  --verde-principal: #2B6114;
  --verde-header: #577f57;
  --verde-fondo: #A3B18A;
  --verde-musgo: hsl(149, 19%, 42%);
  --verde-pantano: hsl(179, 19%, 42%);
  --azul-musgo: hsl(209, 19%, 42%);
  --lila: hsl(239, 19%, 42%);
  --purpura: hsl(269, 19%, 42%);
  --negro: #181A1B;
}

/* Estilos */

/* Generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
}

header,
main,
footer {
  padding: 0 10px;
}

ol,
ul {
  list-style-type: none;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Propiedades generales */

/* Form control de Bootstrap */
.form-control {
  height: 1.6em;
  border-radius: 3px;
  padding: 0 0.4rem;
}

.form-control:focus {
  box-shadow: 0 0 0 3px hsla(102, 66%, 23%, 0.288);
  border: #2B6114;
}

.btn {
  padding: 0 3px;
  height: 1.6em;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: var(--verde-principal);
  color: white;
  cursor: pointer;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* .header__container,
.main__container,
.footer__container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
} */

/* --- HEADER --- */

.header {
  background-color: var(--verde-header);
  position: sticky;
  top: 0px;
  z-index: 3;
}

/* Header | Contenedores, área de búsqueda, título y botón de suscripción  */ 

.header__main-title {
  display: none;
}

.header__main-page,
.header__logo-img {
  max-width: 150px;
}

.header__logo-img {
  width: 100%;
}

.nav-link {
  padding: 0 7px;
  font-size: 1.2em;
  color: black;
}

.nav-link:hover {
  background-color: var(--verde-principal);
  color: white;
  border-radius: 2px;
}

.header__search-input {
  padding: 0 3px;
  width: 100%;
  max-width: 120px;
  border-radius: 3px 0 0 3px;
}

.header__search-btn {
  padding: 0 7px;
  border-left: 1px solid lightgray;
  border-radius: 0 3px 3px 0 ;
}

.header__sub-container {
  text-align: start;
}

.header__sub-container {
  min-width: 70px;
}

.header__sub-btn {
  width: 100%;
  min-width: 70px;
  max-width: 240px;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px;
}

/* MAIN */

main {
  background-color: var(--verde-fondo);
  min-height: 750px;
}

/* Main | Carousel */

.carousel-container {
  max-width: 887px;
}

.carousel-indicators [data-bs-target] {
  margin: 0 5px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.media-container__img {
  width: 50%;
  border: none;
  border-radius: 0.3em;
}

.media-container__video {
  width: 87%;
  height: 14em;
}

/* Main | Sección de artículos */


.data-section__ver-mas {
  margin: 0 1.5em;
  align-self: center;
}


.article {
  padding: 7px;
  background-color: antiquewhite;
  border-radius: 4px;
  height: 100%;
}

.article__img {
  width: 100%;
  height: auto;
}

.article__post-media {
  text-align: center;
}

.article__post-title,
.article__p {
  padding: 7px;
  text-align: justify;
}

/* FOOTER */

.footer {
  background-color: var(--verde-pantano);
}

/* Footer | Contenedores, títulos y enlaces */

.footer__item {
  padding: 2px;
}

.footer__span {
  margin: 0 2px;
}

.footer__link span,
.footer__link i {
  font-size: 1.14rem;
}

.footer__link:hover {
  color: white;
}

.footer__music {
  display: flex;
  justify-content: space-between;
}

.link-spotify {
  padding-right: 2em;
  align-self: center; 
}

.footer__input,
.footer__btn {
  padding: 0 2px;
  width: 100%;
  min-width: 120px;
  border-radius: 0;
  outline: none;
  border: 1px solid lightgray;
}


/* --- PAGES --- */

.main__description {
  font-size: 1.2em;
  text-align: justify;
}

/* /comunidad.html */

.article__team-person-title {
  text-align: start;
  padding: 7px 0;
}

/* /donaciones.html */

.form__data-container {
  padding: 10px 0;
  border-bottom: 3px solid var(--verde-musgo);
}

/*.form__input-rows {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
}

.form__input-columns {
  padding: 4px 20px 4px 0;
}

.form__amount-question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
  }


.form__title-donation,
.form__span-amount {
  padding: 14px 0;
}

.form__span-amount {
  font-size: 1em;
}

/* .form__amounts {
  margin-bottom: 10px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 7px;
} */

.form__amount-btn {
  width: 6rem;
  height: 2em;
  font-size: 1.4em;
  line-height: 2em;
}

.form__label-radio {
  padding: 0 30px 0 0;
}

.form__input {
  max-width: 14em;
  border-width: 0 0 2px 0;
  border-color: var(--verde-principal);
  background-color: transparent;
  border-radius: 0;
}

.form__input:focus {
  border: 2px solid;
  border-width: 0 0 2px 0;
  border-color: var(--verde-principal);
  background-color: transparent;
  box-shadow: none;
}


.form__input-medium {
  width: 10em;
}

.form__input-small {
  width: em;
}

.form__input-tiny {
  width: 3em;
}

.form__donate-btn-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.form__donate-btn {
  padding: 0 10px;
  font-size: 1.8em;
  text-align: center;
}

/* /contacto.html */

.main__map {
  width: 100%;
  max-width: 400px;
  height: 250px;
}

/* @media (min-width: 992px) {
  * {
    font-size: 18px;
  }
} */