/* Variables */
/* Paleta de colores */
:root {
  --verde-header: #577f57;
  --verde-fondo: #A3B18A;
  --verde-musgo: hsl(149, 19%, 42%);
  --verde-pantano: hsl(179, 19%, 42%);
  --azul-musgo: hsl(209, 19%, 42%);
  --lila: hsl(239, 19%, 42%);
  --purpura: hsl(269, 19%, 42%);
  --negro: #181A1B;
}

/* Estilos */

/* Generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
}

header,
main,
footer {
  padding: 0 10px;
}

input {
  font-size: 16px;
}

ol,
ul {
  list-style-type: none; 
}

a {
  text-decoration: none;
  color: black;
}

/* Propiedades generales */

.btn {
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: var(--azul-musgo);
  color: white;
  cursor: pointer;
}

.header__container,
.main__container,
.footer__container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

/* --- HEADER --- */

.header {
  background-color: var(--verde-header);
  position: sticky;
  top: 0px;
  z-index: 2;
}

/* Header | Contenedores, área de búsqueda, título y botón de suscripción  */ 

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.search-container__search,
.search-container__btn {
  float: left;
  border: 1px solid grey;
}

.search-container__search {
  padding: 0 2px;
  width: 70%;
  min-width: 55px;
  border-right: none;
  border-radius: 3px 0 0 3px;
}

.search-container__search:focus {
  outline: none;
}

.search-container__btn {
  padding: 0;
  width: 20%;
  min-width: 23px;
  background-color: lightgray;
  border: 1px solid var(--azul-musgo);
  border-left: none;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.title-container__main-title {
  display: none;
}

.title-container {
  width: 49%;
  text-align: center;
}

.title-container__img {
  width: 32%;
  min-width: 120px;
  height: auto;
}

.header__sub-container {
  text-align: right;
}

.header__sub-container {
  min-width: 78px;
}

.header__sub-btn {
  width: 90%;
  min-width: 78px;
}

/* Barra de navegación */

.navbar {
  display: flex;
  justify-content: center;
}

.navbar__menu {
  margin: 0;
  padding: 0.15rem;
  display: flex;
  text-align: justify;
}

.navbar__menu-item {
  padding: 2px  5px;
  text-decoration: none;
  color: black;
}

.navbar__menu-item:hover {
  background-color: var(--azul-musgo);
  color: white;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  border-radius: 2px;
}

/* MAIN */

main {
  background-color: var(--verde-fondo);
  min-height: 750px;
}

/* Main | Contenedor de video */

.media-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.media-container__img {
  width: 50%;
  border: none;
  border-radius: 0.3rem;
}

.media-container__video {
  width: 87%;
  height: 14rem;
}

/* Main | Sección de artículos */

/* .data-section {
} */

.data-section__title-container {
  display: flex;
}

.data-section__ver-mas {
  margin: 0 1.5rem;
  align-self: center;
}

.data-container {
  padding: 14px 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.article {
  padding: 7px;
  background-color: antiquewhite;
  border-radius: 4px;
}

.article__img {
  width: 100%;
  height: auto;
}

.article__post-media {
  text-align: center;
}

.article__post-title,
.article__p {
  padding: 7px;
  text-align: justify;
}

/* FOOTER */

.footer {
  background-color: var(--verde-pantano);
}

/* Footer | Contenedores, títulos y enlaces */

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.footer__title-container {
  padding: 7px 0;
}

.footer__item {
  padding: 2px;
}

.footer__span {
  margin: 0 2px;
}

.footer__link:hover {
  color: white;
}

.footer__music {
  display: flex;
  justify-content: space-between;
}

.link-spotify {
  padding-right: 2rem;
  align-self: center; 
}

.footer_form-sub {
  display: flex;
  flex-direction: column;
}

.footer__input,
.footer__btn {
  padding: 0 2px;
  width: 75%;
  min-width: 100px;
  border-radius: 0;
  outline: none;
  border: 1px solid lightgray;
}


/* --- PAGES --- */

/* /comunidad.html */

.article__team-person-title {
  text-align: start;
  padding: 7px 0;
}

/* /donaciones.html */

.main__title-text-container {
  padding: 1rem 0;
}

.main__title,
.main__description {
  padding: 0.3rem 0;
}

.main__description {
  font-size: 1.2rem;
  text-align: justify;
}

.form__data-container {
  padding: 10px 0;
  border-bottom: 2px solid var(--verde-musgo);
}

.form__input-rows {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.form__input-columns {
  padding: 4px 20px 4px 0;
}

.form__amount-question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__title-donation,
.form__span-amount {
  padding: 14px 0;
}

.form__span-amount {
  font-size: 1rem;
}

.form__amounts {
  margin-bottom: 10px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 7px;
}

.form_amount-btn {
  width: 8rem;
  height: 2.5rem;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.form__label-radio {
  padding: 0 30px 0 0;
}

.form__input {
  border: 1px solid gray;
  border-radius: 3px;
  width: 10rem;
  height: 1.4rem;
}

.form__input-medium {
  width: 8rem;
}

.form__input-small {
  width: 5rem;
}

.form__input-tiny {
  width: 3rem;
}

.form__donate-btn-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.form__donate-btn {
  padding: 5px 10px;
  font-size: 1.8rem;
  text-align: center;
}

/* /contacto.html */

.contact-info__container {
  display: flex;
  justify-content: space-between;
}

.info-rows {
  padding: 1rem 0;
}

.contact-info__main-title {
  font-size: 2rem;
}

.contact-info__title {
  padding: 5px 0;
  font-size: 1.7rem;
}

.contact-info__subtitle {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.contact-info__data {
  padding: 5px 0;
  display: block;
  font-size: 1.2rem;
}



/* --- MEDIA QUERIES --- */

@media (min-width: 350px) {

body,
input {
  font-size: 18px;
}

  .navbar__menu-item {
    font-size: 1.2rem;
  }

  /* --- donaciones.html --- */
  .form__amounts {
  grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) {

  /* --- HEADER ---*/
  
  .navbar__menu-item {
    font-size: 1.5rem;
  }

  /* --- MAIN --- */
  
  .media-container__video {
    width: 80%;
    height: 20rem;
  }

  .data-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* --- FOOTER --- */

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  /* donaciones.html */

  .form__amounts {
    grid-template-columns: repeat(3, 1fr);
    }
    
  .form__amount-question {
    flex-direction: row;
  }
}

@media (min-width: 768px) {

  .media-container__video {
    width: 70%;
    height: 23rem;
  }

  .article {
    max-width: 370px;
  }

  .article__img {
    max-width: 350px;
  }
}

@media (min-width: 992px) {

  .media-container__video {
    width: 55%;
  }

  .data-container {
    grid-template-columns: repeat(4, 1fr);
  }

  
  /* --- donaciones.html --- */
  
  .form__amounts {
    grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1200px) {
  .data-container {
    grid-template-columns: repeat(4, auto-fill);
  }
}
