/* 
  Se mostrarán el nombre y redes sociales de miembros de la ONG.
  Los datos se mantienen ocultos hasta que se haga hover sobre la card.
*/
.member-info {
  display: none;
}

.article:hover .member-info {
  display: block;
}

.cards {
  background-color: transparent;
  border: none;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  background-position: center;
  margin: 10px;

  transition: 0.3s ease;
}

// Estilos para mostrar los datos
.card {
  position: relative;
  z-index: 1;
  
  &:hover {
    
    @extend %sombra-1;
    
    .card__rect-1 {
      left: 10%;
      
      .shadow-1 {
        left: -20%;
      }
    }
    
    .card__circle {
      transform: scale(1);
      
      &:before {
        transform: scale(.9);
      }
    }
    
    .card__list {     
      padding: 14px 0;   
      li {
        transform: translateX(0);
      }
    }
  }
  
  
  &__rect-1 {
    background: $verde-pantano;
    width: 200px;
    height: 80px;
    transform: skewX(-20deg);
    display: block;
    position: absolute;
    top: 78%;
    opacity: .9;
    left: -100%;
    z-index: 1;
    transition: all .5s ease-in;
    
    p {
      margin: 0;
      font-size: 20px;
      color: #fff;
      transform: skewX(20deg);
    }

  .shadow-1 {
      background: $color-principal;
      width: 230px;
      height: 70px;
      display: block;
      position: absolute;
      left: -200%;
      z-index: -1;
    transition: all .3s ease-in;
    }
  }
  
  &__circle {
    width: 70px;
    height: 170px;
    border-radius: 3px;
    background: $verde-pantano;
    position: absolute;
    top: -15%;
    left: 85%;
    opacity: .9;
    transform: scale(0);
    transition: all .3s ease;
    
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $color-principal;
      border-radius: 3px;
      transform: scale(0);
      transition: all .3s ease;
      transition-delay: .2s;
    }
  }
  
  &__list {
  list-style: none;
  position: absolute;
  top: -12px;
  right: 1px;
  padding-top: 14px;
  transition: all .4s ease;
    
    li {
      display: inline-block;
      cursor: pointer;
      margin: 4px;
      color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $verde-pantano;
      text-align: center;
      line-height: 30px;
      font-size: 14px;
      transition: all .3s ease;
      transform: translateX(500%);

      &:nth-child(1){
        transition-delay: .2s;
      }
      
      &:nth-child(2){
        transition-delay: .3s;
      }
      
      &:nth-child(3){
        transition-delay: .4s;
      }
    }
  }
}


  /* Galería podcast */

  .gallery-container {
    position: inherit;
  }

  .gallery-container [data-bs-target] {
    width: 90px;
    height: auto;
    border-radius: 0;
    
    &:hover {
    opacity: 1;
    }

    & img:hover {
      @extend %sombra-1;
    }
  }