.form {
  &__data-container {
    border-bottom: 2px solid $verde-musgo;
  }

  &__title-donation,
  &__span-amount {
    padding: 14px 0;
  }

  &__span-amount {
    font-size: 1em;
  }

  &__amount-btn {
    width: 6rem;
    height: 2em;
    font-size: 1.4em;
    line-height: 2em;
  }

  &__label-radio {
    padding: 0 30px 0 0;
  }

  &__input {
    max-width: 14em;
    border-width: 0 0 2px 0;
    border-color: $color-principal;
    background-color: transparent;
    border-radius: 0;

    &:focus {
      border: 2px solid;
      border-width: 0 0 2px 0;
      border-color: $color-principal;
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__input-medium {
    width: 10em;
  }

  &__input-small {
    width: em;
  }

  &__input-tiny {
    width: 3em;
  }

  &__donate-btn-container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  &__donate-btn {
    padding: 0 10px;
    font-size: 1.8em;
    text-align: center;
  }
}

// Estilos para que el background-color de la sugerencia de autocompletado de Chrome sea transparente


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
  }