// Propiedades del carousel
.carousel-container {
  max-width: 887px;
}

.carousel-indicators [data-bs-target] {
  margin: 0 5px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.carousel-control-prev-icon i,
.carousel-control-next-icon i {
  padding: 5px 10px;
  font-size: 1.3rem;
  color: black;
  background-color: white;
  border-radius: 50%;
}