/* Generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
}

header,
main,
footer {
  padding: 0 10px;
}

h1 {    
  clip: rect(0 0 0 0);
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: block;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: -1;
}

ol,
ul {
  list-style-type: none;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
}